body {
  margin: 0;
  padding: 0;
}
.fedex-con {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
nav {
  width: 100%;
  height: 70px;
  background-color: rgb(74, 5, 131);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

nav img {
  height: 40px;
}
nav .nav-icon-box {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav .nav-icon-box > * {
  margin: 5px;
}

.form-box {
  position: absolute;
  top: 15%;
  width: 90%;
  background-color: rgb(70, 0, 128);
  z-index: 100;
  left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-box input,
button {
  margin: 10px;
  width: 80%;
  padding: 10px;
  font-size: 18px;
}

.fedex-home {
  width: 100%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.fedex-home h3 {
  text-align: center;
  font-size: 18px;
  color: rgb(0, 119, 255);
}

.fedex-home .fedex-info {
  width: 90%;
}
.fedex-info .box-info {
  position: relative;
  width: 250px;
  height: 70px;
  padding-left: 40px;
  border-left: 17px solid rgba(70, 0, 128, 0.911);
}

.box-info:last-child {
  border-left: 17px solid rgba(182, 182, 182, 0.747);
}
.box-info:nth-child(4) {
  border-left: 17px solid rgba(182, 182, 182, 0.747);
}
.box-info .active-box {
  position: absolute;
  top: -2px;
  left: -30px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(70, 0, 128, 0.911);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.box-info:first-child::after {
  position: absolute;
  content: "";
  width: 17px;
  height: 20px;
  display: flex;
  background-color: rgba(70, 0, 128, 0.911);
  top: -5px;
  left: -17px;
  border-radius: 40%;
}
.box-info:last-child::after {
  position: absolute;
  content: "";
  width: 17px;
  height: 20px;
  display: flex;
  background-color: rgba(182, 182, 182, 0.747);
  bottom: -5px;
  left: -17px;
  border-radius: 40%;
}

.box-info::before {
  position: absolute;
  content: "";
  display: flex;
  top: 15px;
  left: -14px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}
.fedex-info .big-box {
  height: 130px;
}

.box-info span {
  font-size: 15px;
  font-weight: bold;
}

.info-b {
  height: 100%;
}

.info-b .big-p {
  font-size: 18px;
  font-weight: bold;
}
.box-info .info-b p {
  margin-top: -20px;
}
.box-info .info-b h5 {
  margin-top: -5px;
  font-style: italic;
  color: #444444e0;
}
.down-info {
  width: 95%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  background-color: #afafaf9c;
  padding: 0 5px;
}

.down-info p {
  font-size: 13px;
  font-weight: bold;
}

.down-info h2 {
  font-size: 16px;
  margin-top: -5px;
  font-weight: 400;
  color: #444444e0;
}

.fedex-p-con {
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fedex-p {
  width: 90%;
  height: 80px;
  margin-top: 30px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid;
}

.fedex-p img {
  width: 70px;
  height: 70px;
}

.fedex-p .fedex-p-box {
  width: 60%;
  padding-left: 10px;
}

.fedex-p-box h2 {
  font-size: 15px;
  margin: 0;
  line-height: 15px;
}
.fedex-p-box p {
  font-size: 12px;
  margin: 0;
  line-height: 15px;
  font-weight: 500;
  color: #5a5a5ae0;
}
.fedex-p h1 {
  font-size: 18px;
  margin: 0;
  width: 100px;
  color: rgb(0, 153, 255);
}

.fedex-p-info {
  width: 100%;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}

.fedex-p-top-info {
  flex: 2;
  height: 70px;
  padding-right: 8px;
  padding-left: 10px;
}

.fedex-p-top-info h2 {
  font-size: 16px;
  line-height: 18px;
  margin: 0;
}
.fedex-p-top-info h3 {
  font-size: 13px;
  line-height: 15px;
  margin: 0;
}
.fedex-p-top-info p {
  font-size: 12px;
  margin: 0;
  line-height: 15px;
  font-weight: 500;
  color: #505050e0;
}
.fedex-pp {
  text-decoration: underline;
}

#fedex-p-top-info {
  text-align: end;
}

.fedex-p-blue-bg {
  display: flex;
  justify-content: space-between;
  width: 95%;
  height: 50px;
  background: rgb(75, 75, 236);
  padding: 2px;
  color: white;
}

#fedex-p-blue-bg {
  background-color: white;
  color: black;
  border: 1px solid rgb(75, 75, 236);
}

.fedex-p-blue-bg p {
  font-size: 14px;
  text-align: center;
  width: 80px;
  margin: 2px;
  border-left: 1px solid rgb(75, 75, 236);
}

.fedex-p-blue-bg #pppp {
  width: 120px;
  border-left: 0;
}

.subtotal {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subtotal-- {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.subtotal h2 {
  font-size: 14px;
}

#subtotal-- {
  background-color: rgb(75, 75, 236);
  color: white;
  padding: 0 5px;
}
